html,
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  height: 100%;
  min-height: 100%;
  background-color: #0f1425;
  background-image: radial-gradient(
    circle at top left,
    #25314d 0%,
    rgba(21, 27, 46, 0.9) 45%,
    #0f1425 100%
  );
}
